.header-container {

  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb; /* Línea sutil abajo */
  gap: 15px; /* Espacio entre el logo y el texto */
  position: sticky; /* Se queda fijo arriba si haces scroll */
  top: 0;
  z-index: 1000;
}
/*acomodar para celu */
.header-logo img {
  margin-left: 10%;
  height: 15dvh;
  width: auto;
  display: block;
}

.header-titulo {
  flex: 1; /* Hace que el título ocupe el espacio disponible */
  margin: 5%;
}

/* Si el componente Title renderiza un h1/h2 con mucho margen, lo reseteamos acá */
.header-titulo * {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #111827;
}

/* Por si en el futuro agregamos links en el nav  como el create home o algo de eso*/
nav {
  display: flex;
  gap: 20px;
}
